src
__tests__
node_modules
scripts
package-lock.json
coverage
website
.*
babel.config.js
jest.config.json
jsconfig.json
rollup.config.js
jsdoc.conf.json

# Folder with files for integration tests
test-files