src
__tests__
node_modules
scripts
.DS_Store
package-lock.json
coverage
.*
gulpfile.js
babel.config.js
jest.config.json
jsconfig.json
rollup.config.js

# Folder with files for integration tests
test-files